
<div>
  <h1 style="display: flex; justify-content: center">NLP Webapp</h1>
  <br>
  <br>
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Functionalities:</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/webscraping">Webscraping</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/sentiment_score">Assign Sentiment Score to Comments</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/nps_output">Get NPS Score</a>
      </li>
      <!-- <li class="nav-item active">
        <a class="nav-link" href="/comment_view">View Positive/Negative Comments</a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link" href="/training">Train NLP Model</a>
      </li>
    </ul>
  </div>
</nav>
<br>
<br>
<h1 class="subtitle"> Comment Printing Tool </h1>
<br>
<div class="text_section">
  <h2 class="subtitle"> How to use the comment printing </h2>
  <br>
  <div style="margin: 10px; padding: 10px;" class="container">
    <p class="page_center"> The comment printing tool prints the most positive and negative comments based on assigned sentiment score</p> <br>

      <p class="page_center"> All you need to do is upload the scraped comments dataset. Sentiment score does not need to be included
        in the inputted dataset.
      </p> <br>

      <p class="image_caption"> Sample dataset input: </p>
      <div class="image_container">
        <img class="doc_image" src="/images/sample_inputs/sentiment_score_input_df.png">
      </div>
      <br>
    </div>
    <br>
  </div>
<br>
<br>
<h2 class="subtitle">Print Positive/Negative Comments</h2>
<form method="POST" style="width: 70%;"
encType="multipart/form-data"
>
  <div class="form-group">
    <label for="exampleFormControlFile1">Input dataset</label>
    <input name="input_dataset" type="file" class="form-control-file" id="exampleFormControlFile1">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput2">Type of comments to print:</label>
    <select name="ranking_type" class="form-control">
      <option>positive</option>
      <option>negative</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary">View Top Comments</button>
</form>
