
<div>
  <h1 style="display: flex; justify-content: center">NLP Webapp</h1>
  <br>
  <br>
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Functionalities:</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/webscraping">Webscraping</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/sentiment_score">Assign Sentiment Score to Comments</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/nps_output">Get NPS Score</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" href="/comment_view">View Positive/Negative Comments</a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link" href="/training">Train NLP Model</a>
      </li>
    </ul>
  </div>
</nav>
<br>
<br>
<h1 class="subtitle"> Step 3): NPS Scoring Tool </h1>
<br>
<div class="text_section">
  <h2 class="subtitle"> How to use the nps scoring tool </h2>
  <br>
  <div style="margin: 10px; padding: 10px;" class="container">
    <p class="page_center"> The nps scoring tool takes a given webscraping csv output dataset, assigns sentiment scores an overall,
    category, or product-based sentiment score to all the comments, and then calculates the nps scores for
    these specific segments. The output is category/product count, weight (if applicable) and the corresponding nps score </p> <br>

      <p class="page_center"> All you need to do is upload the scraped comments dataset, and input the name of the dataset when you download it, category/product keywords,
        if category or product option are selceted, and then the category and product name if category or product options are selected
      </p> <br>

      <p class="image_caption"> Sample dataset input: </p>
      <div class="image_container">
        <img class="doc_image" src="/images/sample_inputs/sentiment_score_input_df.png">
      </div>
      <br>
      <p class="image_caption"> Sample nps scoring input for category: </p>
      <div class="image_container">
        <img class="doc_image" src="/images/sample_inputs/nps_score_input_category2.png">
      </div>

      <p class="image_caption"> Sample nps scoring input for product: </p>
      <div class="image_container">
        <img class="doc_image" src="/images/sample_inputs/nps_score_input_product.png">
      </div>
    </div>
    <br>
  </div>
<br>
<br>
<h2 class="subtitle">NPS scoring inputs</h2>

<form method="POST" style="width: 70%;"
encType="multipart/form-data"
>
  <div class="form-group">
    <label for="exampleFormControlFile1">Input dataset</label>
    <input name="input_dataset" type="file" class="form-control-file" id="exampleFormControlFile1">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput2">NPS scoring by:</label>
    <select name="scoring_type" class="form-control">
      <option>overall</option>
      <option>category</option>
      <option>product</option>
    </select>
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput">Category Keywords (input if category is selected): Separate keywords for different categories with ';'</label>
    <textarea name="category_keywords" class="form-control" id="exampleFormControlTextarea1" placeholder="price_keyword1, price_keyword2, price_keyword3; packaging_keyword1, packaging_keyword2"
     rows="3"></textarea>
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput">Categories/Product names (input if product or category is selected) </label>
    <input name="segment_names" type="text" class="form-control" id="formGroupExampleInput"
    placeholder="price, expiration, flavor, logistics, packaging">
  </div>
  <button type="submit" class="btn btn-primary">Get NPS output(s)</button>
</form>
