
<div>
  <h1 style="display: flex; justify-content: center">NLP Webapp</h1>
  <br>
  <br>
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Functionalities:</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul style="display: flex; justify-content: space-around"class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/merge_datasets">Merge Scraped Data </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/sentiment_score">Assign Sentiment Score to Comments</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/nps_output">Get NPS Score <span class="sr-only">(current)</span> </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/training">Train NLP Model</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/webscraping">Webscraping</a>
      </li>
    </ul>
  </div>
</nav>
<br>
<br>
<h2 class="subtitle"> NPS {{method}} Results for {{filename}} : </h2>
<br>
{{#each nps}}
<h4 class="subtitle"> {{this}} </h4>
{{/each}}
