
<div>
  <h1 style="display: flex; justify-content: center">NLP Webapp</h1>
  <br>
  <br>
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Functionalities:</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/webscraping">Webscraping</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/sentiment_score">Assign Sentiment Score to Comments</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/nps_output">Get NPS Score</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" href="/comment_view">View Positive/Negative Comments</a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link" href="/training">Train NLP Model</a>
      </li>
    </ul>
  </div>
</nav>
<br>
<br>
<h1 class="subtitle"> Step 2): Text Categorization and Sentiment Scoring Tool </h1>
<br>
<div class="text_section">
  <h2 class="subtitle"> How to use the sentiment scoring tool </h2>
  <br>
  <div style="margin: 10px; padding: 10px;" class="container">
    <p class="page_center"> The sentiment scoring tool takes a given webscraping csv output dataset and assigns sentiment scores an overall,
    category, or product-based sentiment score to all the comments. The output is a downloaded csv file with all the sentiment scores for each comment  </p> <br>

    <p style="font-weight: bold" class="page_center"> Note: this step is not necessary to get the nps outputs. The 'Get NPS Score' page automatically assigns the sentiment scores
      to the comments in the dataset before calculating the nps scores.</p> <br>

      <p class="page_center"> All you need to do is upload the scraped comments dataset, and input the name of the dataset when you download it, category/product keywords,
        if category or product option are selceted, and then the category and product name if category or product options are selected
      </p> <br>

      <p class="image_caption"> Sample dataset input: </p>
      <div class="image_container">
        <img class="doc_image" src="/images/sample_inputs/sentiment_score_input_df.png">
      </div>
      <br>
      <p class="image_caption"> Sample sentiment scoring input for category: </p>
      <div class="image_container">
        <img class="doc_image" src="/images/sample_inputs/sentiment_score_input_price.png">
      </div>

      <p class="image_caption"> Sample sentiment scoring input for product: </p>
      <div class="image_container">
        <img class="doc_image" src="/images/sample_inputs/sentiment_score_input_sleep.png">
      </div>
    </div>
    <br>
  </div>
<br>
<br>
<h2 class="subtitle">Sentiment downloads inputs</h2>
<form method="POST" style="width: 70%;"
encType="multipart/form-data"
>
  <div class="form-group">
    <label for="exampleFormControlFile1">Input dataset</label>
    <input name="input_dataset" type="file" class="form-control-file" id="exampleFormControlFile1">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput2">Sentiment segmented by:</label>
    <select name="scoring_type" class="form-control">
      <option>overall</option>
      <option>category</option>
      <option>product</option>
    </select>
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput">Dataset Name</label>
    <input name="dataset_name" type="text" class="form-control" id="formGroupExampleInput" placeholder="Buffx_Sleep">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput">Category/Product Keywords (input only if the product or category option is selected). Only one product/category can be inputted at a time</label>
    <input name="segment_keywords" type="text" class="form-control" id="formGroupExampleInput" placeholder="价格,便宜,贵,打折,份量,实惠">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput">Category/Product name (input only if the product or category option is selected). Only one product/category can be inputted at a time</label>
    <input name="segment_names" type="text" class="form-control" id="formGroupExampleInput"
    placeholder="price">
  </div>
  <button type="submit" class="btn btn-primary">Download dataset with sentiment scores</button>
</form>
