
<div>
  <h1 style="display: flex; justify-content: center">NLP Webapp</h1>
  <br>
  <br>
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Functionalities:</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/webscraping">Webscraping</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/sentiment_score">Assign Sentiment Score to Comments</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/nps_output">Get NPS Score</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" href="/comment_view">View Positive/Negative Comments</a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link" href="/training">Train NLP Model</a>
      </li>
    </ul>
  </div>
</nav>
<br>
<br>
<h1 class="subtitle"> Step 1): Webscraping Tool </h1>
<br>
<div class="text_section">
  <h2 class="subtitle"> How to use the webscraping tool </h2>
  <br>
  <div style="margin: 10px; padding: 10px;" class="container">
    <p class="page_center"> The webscraping function takes a given e-commerce page, extracts comments data related to that page, and downloads
    it to a .csv table file. </p> <br>

      <p class="page_center"> All you need to do is select the e-commerce platform, and input the url, the name of the product (so that you can do product-level nps
        analysis later on) as well as the name of the dataset when you download it.
      </p> <br>

      <p class="page_center"> Clicking the button opens a headless chromium browser (you won't see anything) and the scraping process may take
        around 2 minutes or so in total.
      </p> <br>

      <p class="image_caption"> Sample webscraping input: </p>
      <div class="image_container">
        <img class="doc_image" src="/images/sample_inputs/webscrape_input.png">
      </div>
    </div>
    <br>
  </div>
<br>
<br>
<h2 class="subtitle">Webscraping inputs</h2>
<br>
<form method="POST" style="width: 70%;"
encType="multipart/form-data"
>
  <div class="form-group">
    <label for="formGroupExampleInput2">Platform:</label>
    <select name="platform_name" class="form-control">
      <option>JD.com</option>
      <option>JD.com Global</option>
      <option>Tmall</option>
      <option>Tmall Global</option>
      <option>Taobao</option>
    </select>
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput">URL (must be link to the comments ideally)</label>
    <input name="scraping_url" type="text" class="form-control" id="formGroupExampleInput" placeholder="https://item.jd.com/100017641792.html#comment">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput">Product Name</label>
    <input name="product_name" type="text" class="form-control" id="formGroupExampleInput"
    placeholder="Sleep">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput">Dataset Name</label>
    <input name="dataset_name" type="text" class="form-control" id="formGroupExampleInput" placeholder="Buffx_Sleep">
  </div>
  <button type="submit" class="btn btn-primary">Get NPS output(s)</button>
</form>
